.game{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-color:blueviolet;
    grid-template: repeat(3, ifr)/ repeat(3 ifr);
}
.game > div {
    border: 6px solid;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}